/*

AriaShell base style
====================
This stylesheet is always applied to all Aria windows, and contain the
bare minimum needed styles.

This file must be as neutral as possible, to work out-of-the-box with
all existing Gtk themes.

To change the style user must provide an Aria theme css file, do not
modify this one.

TIP: GTK_DEBUG=interactive to run the usefull GTK Inspector

*/

:root {
  --aria-bg-color: @theme_bg_color;
  --aria-fg-color: @theme_fg_color;  /*not-tested*/
  --aria-window-shadow: rgba(0, 0, 0, .5) 0px 5px 15px;
}

/* Reset CSS
window {
  border-radius: unset;
}*/


/* Aria launcher
--------------------------------------------------------------------------------
window               .aria-launcher
╰─ box               .aria-launcher-box
   ├─ entry          .aria-launcher-entry
   ╰─ scroller
      ╰─ listbox     .aria-launcher-list
*/
.aria-launcher {
  background-color: transparent;
  padding: 0 16px 32px 16px;  /* spacer for the terminal box-shadow */
}
.aria-launcher .aria-launcher-box {
  background-color: var(--aria-bg-color);
  box-shadow: var(--aria-window-shadow);
  padding: 10px;
}
.aria-launcher .aria-launcher-entry {  }
.aria-launcher .aria-launcher-list {  }


/* Aria terminal
--------------------------------------------------------------------------------
window               .aria-terminal
╰─ terminal          .aria-terminal
*/
window.aria-terminal {
  background-color: transparent;
  padding: 0 16px 32px 16px;  /* spacer for the terminal box-shadow */
}
window.aria-terminal .aria-terminal {
  box-shadow: var(--aria-window-shadow);
  padding: 6px;
}


/* Aria panel
--------------------------------------------------------------------------------
window              .aria-panel
╰─ centerbox        .aria-panel-box
   ├─ box           .aria-panel-box-start
   │  ╰─ Gadget     .aria-widget .widget-<name>
   ├─ box           .aria-panel-box-center
   │  ╰─ Gadget     .aria-widget .widget-<name>
   ╰─ box           .aria-panel-box-end
      ╰─ Gadget     .aria-widget .widget-<name>
*/
.aria-panel {
  background-color: var(--aria-bg-color);
  border-radius: unset;  /* disable gtk theme rounded corners */
  padding: 2px 6px;
}
/* all widgets */
.aria-panel .aria-widget { }


/* Widget: workspaces
--------------------------------------------------------------------------------
Gadget              .aria-widget .widget-workspaces
├─ box              .aria-workspace[.active]
│  ├─ label         .aria-workspace-label
│  ├─ image         .aria-workspace-window[.active]
│  ┊
│  ╰─ image         .aria-workspace-window[.active]
╰─ box
   ╰─ etc, for all workspaces...
*/
.widget-workspaces .aria-workspace {
  border: 1px solid black;
  /*padding: 1px 4px;*/
  margin-right: 3px;
}
.widget-workspaces .aria-workspace:hover {
  box-shadow: 0px 0px 3px 0px #000000;
}
.widget-workspaces .aria-workspace.active {
  background-color: cyan;
}
/*.widget-workspaces .aria-workspace .aria-workspace-label {
  font-weight: bold;
  margin-right: 2px;
}*/
.widget-workspaces .aria-workspace .aria-workspace-window {
  /*border: 1px solid transparent;*/
}
.widget-workspaces .aria-workspace .aria-workspace-window:hover {
  box-shadow: 0px 0px 3px 0px #000000;
}
.widget-workspaces .aria-workspace .aria-workspace-window.active {
  /*border: 1px solid green; */
}