/*

AriaShell base style
====================
This stylesheet is always applied to all Aria windows, and contain the
bare minimum needed styles.

This file must be as neutral as possible, to work out-of-the-box with
existing Gtk themes.

To change the style user must provide an Aria theme css file, do not
modify this one.

TIP: GTK_DEBUG=interactive to run the GTK Inspector

https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-22/gtk/theme/Adwaita/_colors-public.scss
*/

:root {
  --aria-bg-color: @theme_bg_color;      /* widget base background color */
  --aria-fg-color: @theme_fg_color;      /* widget text/foreground color */
  --aria-text-color: @theme_text_color;  /* text color for entries, views and content in general */
  --aria-base-color: @theme_base_color;  /* base bg color (panel, text widgets) */
  --aria-borders-color: @borders;        /* widgets main borders color */

  --aria-warning-color: @warning_color;
  --aria-error-color: @error_color;
  --aria-success-color: @success_color;
  
  --aria-accent-color: @theme_selected_bg_color;
  --aria-on-accent-color: @theme_selected_fg_color;

  /* windows style */
  --aria-surface-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
  --aria-surface-shadow-margin: 2px 10px 16px 10px;
  --aria-surface-border: none;
  --aria-surface-border-radius: 10px;
}


/* Grrr...cannot find a way to use the default windows border defined in the gtk theme... */
window.aria-window {
  border: var(--aria-surface-border);
  border-radius: var(--aria-surface-border-radius);
  box-shadow: var(--aria-surface-shadow);
  margin: var(--aria-surface-shadow-margin);
}


/*==============================================================================
 * Aria launcher
 *==============================================================================
 * window               .aria-launcher .aria-window
 * ╰─ box               .aria-launcher-box
 *    ├─ entry          .aria-launcher-entry
 *    ╰─ scroller
 *       ╰─ listbox     .aria-launcher-list
 */
window.aria-launcher {
}
.aria-launcher-box {
}
.aria-launcher-entry { 
  margin: 10px; 
}
.aria-launcher-list {
}


/*==============================================================================
 * Aria notificator
 *==============================================================================
 * window         .aria-notificator .aria-window
 * ╰─ listview    .aria-notificator-list
 *    ├─ row            
 *    │  ╰─ grid           .aria-notification [.urgent] [.non-urgent] 
 *    │     ├─ image       .aria-notification-icon
 *    │     ├─ label       .aria-notification-summary .title-4
 *    │     ├─ label       .aria-notification-body
 *    │     ╰─ box         .aria-notification-actions
 *    │        ├─ button   .aria-notification-button
 *    │        ├─ button   .aria-notification-button
 *    │        ╰─ etc...
 *    ╰─ row
 *       ╰─ grid   ... etc, for all visible notifications
 */
window.aria-notificator {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

.aria-notificator-list {
  background-color: transparent;
}

.aria-notification {
  min-width: 280px;
  background-color: var(--aria-base-color);
  padding: 6px;
  
  /* mimic the aria windows border */
  border: var(--aria-surface-border);
  border-radius: var(--aria-surface-border-radius);
  box-shadow: var(--aria-surface-shadow);
  margin: var(--aria-surface-shadow-margin);
}
.aria-notification.urgent {
  background-color: var(--aria-error-color);
}
.aria-notification.non-urgent {
  background-color: var(--aria-success-color);
}
.aria-notification .aria-notification-summary {
}
.aria-notification .aria-notification-body {
}
.aria-notification .aria-notification-icon {
  padding-right: 8px;
  -gtk-icon-size: 48px;
}
.aria-notification .aria-notification-button {
  margin: 2px 4px;
}


/*==============================================================================
 * Aria exiter
 *==============================================================================
 * window               .aria-exiter .aria-window
 * ╰─ flowbox           .aria-exiter-flowbox
 *    ├─ button         .aria-exiter-button flat
 *    │  ├─ image       .aria-exiter-button-icon
 *    │  ╰─ label       .aria-exiter-button-label
 *    ╰─ button... etc, for all six buttons
 */
window.aria-exiter {
}
image.aria-exiter-button-icon {
  padding: 8px 16px;
  -gtk-icon-size: 64px;
  -gtk-icon-style: symbolic;
}
label.aria-exiter-button-label {
  font-weight: bold;
}


/*==============================================================================
 * Aria locker
 *==============================================================================
 * window               .aria-locker
 * ╰─ box
 *    ├─ image          .aria-locker-avatar
 *    ├─ label          .aria-locker-username
 *    ├─ label          .aria-locker-time
 *    ├─ label          .aria-locker-date
 *    ├─ entry          .aria-locker-entry .error [.shake]
 *    ├─ label          .aria-locker-error .error
 *    ╰─ button         .aria-locker-unlock [.suggested-action]
 */
.aria-locker-avatar {
  -gtk-icon-size: 96pt;
 /* border:1px solid var(--aria-accent-color);
   box-shadow: var(--aria-surface-shadow);
   border-radius: 50%; */
}
.aria-locker-username {
  color: var(--aria-accent-color);
  font-size: 18pt;
}
.aria-locker-time {
  font-size: 48pt;
  font-weight: 500;
  margin-top: 12pt;
}
.aria-locker-date {
  font-size: 20pt;
}
.aria-locker-entry {
  min-width: 200pt;
  margin-top: 32pt;
  margin-bottom: 4pt;
}
.aria-locker-entry.shake {
  animation: locker-shake-animation 500ms linear;
}
.aria-locker button {
  margin: 8pt;
}

@keyframes locker-shake-animation {
  0% { transform: translateX(0); }
  12.5% { transform: translateX(-12px); }
  25% { transform: translateX(10px); }
  37.5% { transform: translateX(-7px); }
  50% { transform: translateX(5px); }
  62.5% { transform: translateX(-2px); }
  75% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}


/*==============================================================================
 * Aria terminal
 *==============================================================================
 * window               .aria-terminal .aria-window
 * ╰─ terminal          .aria-terminal
 */
window.aria-terminal {
}


/*==============================================================================
 * Aria Popover
 *==============================================================================
 * popover    .aria-popover
 * ├─ contents
 * ╰─ arrow
 */
.aria-popover contents {
  /*background-color: red;*/
}


/*==============================================================================
 * Aria Dialog
 *==============================================================================
 * window            .aria-dialog .aria-window
 * ╰─ box            .vertical
 *    ├─ label       .aria-dialog-heading
 *    ├─ label       .aria-dialog-body
 *    ╰─ box         .horizontal
 *       ├─ button   .aria-dialog-button
 *       ┊
 *       ╰─ button   .aria-dialog-button
 */
window.aria-dialog {
  padding: 16px;
}
label.aria-dialog-heading,
label.aria-dialog-body {
  padding-bottom: 16px;
}
button.aria-dialog-button {
  margin: 0px 8px;
}


/*==============================================================================
 * Aria panel
 *==============================================================================
 * window              .aria-panel .aria-window
 * ╰─ centerbox        .aria-panel-box
 *    ├─ box           .aria-panel-box-start
 *    │  ╰─ Gadget     .aria-gadget .gadget-<name>
 *    │     ╰─ popover .aria-popup
 *    ├─ box           .aria-panel-box-center
 *    │  ╰─ Gadget     .aria-gadget .gadget-<name>
 *    ╰─ box           .aria-panel-box-end
 *       ╰─ Gadget     .aria-gadget .gadget-<name>
 */
window.aria-panel {
  min-height: 26px;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 2px 0;
  background: var(--aria-base-color);
  color: var(--aria-text-color);
}
.aria-gadget {
  padding: 0 8px;
}

/* Clock */
.gadget-clock {
  font-weight: bold;
}

/*============================================================================== 
 * Workspaces
 *==============================================================================
 * Gadget              .aria-gadget .gadget-workspaces
 * ├─ box              .aria-workspace [.active] [.urgent]
 * │  ├─ label         .aria-workspace-label
 * │  ╰─ box
 * │     ├─ image      .aria-workspace-window [.active] [.urgent]
 * │     ┊
 * │     ╰─ image      .aria-workspace-window [.active] [.urgent]
 * ╰─ box
 *    ╰─ etc, for all workspaces...
 */
.gadget-workspaces {
  padding: 0;
}
.gadget-workspaces .aria-workspace {
  margin-right: 2px;
  padding: 0px 6px;
  border: 1px solid alpha(var(--aria-accent-color), 0.75);
  border-radius: 2px;
}
.gadget-workspaces .aria-workspace:hover {
  border-color: var(--aria-accent-color);
}
.gadget-workspaces .aria-workspace.active {
  background-color: var(--aria-accent-color);
  color: var(--aria-on-accent-color);
  border-color: transparent;
}
.gadget-workspaces .aria-workspace.urgent {
  /* TODO Animate */
  background-color: var(--aria-warning-color);
  color: var(--aria-on-accent-color);
}
.gadget-workspaces .aria-workspace-window {
  margin-right: 2px;
  -gtk-icon-style: symbolic;  /* requested|regular|symbolic */
}
.gadget-workspaces .aria-workspace-window:hover {
  /* TODO something better ! */
  box-shadow: 0px 0px 3px 0px var(--aria-accent-color);
}
.gadget-workspaces .aria-workspace-window.active {
  /* TODO something !! */
}
.gadget-workspaces .aria-workspace-window.urgent {
  /* TODO something !! */
  outline: 3px solid var(--aria-error-color);
}
/*==============================================================================
 * Gadget: Tray
 *==============================================================================
 * Gadget              .aria-gadget .gadget-tray
 * ╰─ listview
 *    ├─ overlay       .aria-tray-item
 *    ┊
 *    ╰─ overlay       .aria-tray-item
 */
.gadget-tray {
  padding: 0;
}
.gadget-tray .aria-tray-item {
  padding: 0 3px;
}
