/* ARIA-THEMES-API: 0

THEME: Waybar
VERSION: 0.1
DESCRIPTION: Single line description of this theme
AUTHOR: Davide Andreoli <dave@gurumeditation.it>
LICENSE: mit

FONTS: list of required fonts that can be shipped alongside the css file
TODO: suggest matching gtk/qt/icons themes


CREDITS:
bla, bla, bla

AUTOCONFIG:
...TODO: configuration snippets to be injected in user config

*/

:root {
  --aria-bg-color: rgba(43, 48, 59, .5);
  --aria-fg-color: white;

  --inset-border: inset 0 -3px rgba(100, 114, 125, 0.5);
  --normal-border: 3px solid rgba(100, 114, 125, 0.5);

  --color-gray: #64727D;
  --color-green: #2ecc71;
}

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* All the aria windows */
/*Window {
  background-color: var(--bg-color);
  border-bottom: var(--normal-border);
  box-shadow: var(--inset-border);
}*/


/* Aria panel */
.aria-panel {
  color: var(--aria-fg-color);
  padding: 0;
  min-height: 26px;
  /* Use box-shadow instead of border-bottom so there is no offset */
  /* A big thanks to waybar devs for this trick ;) */
  /*border-bottom: var(--normal-border);*/
  box-shadow: var(--inset-border);
}
.aria-panel .aria-panel-box {
  /*outline: 3px solid rgba(100, 114, 125, 0.5);*/
  /*outline: 5px solid white;*/
}

/* all windgets */
.aria-widget {
  padding: 0 10px;
  background-color: transparent;
  margin: 0;
}
/* widget: workspaces */
.widget-workspaces{
  padding: 0;
}
.widget-workspaces .aria-workspace {
  padding: 0 5px;
  border: unset;
  margin: 0;
}
.widget-workspaces .aria-workspace:hover {
  /* TODO find a way to not have to unset! in base theme? don't load base? */
  border: unset;
  box-shadow: unset;
}
.widget-workspaces .aria-workspace.active {
  border: unset;
  background-color: var(--color-gray);
  box-shadow: inset 0 -3px #ffffff;
}
.widget-workspaces .aria-workspace-window {

}
.widget-workspaces .aria-workspace-window.active {
  box-shadow: inset 0 3px #ffffff;
}

.widget-clock {
  background-color: var(--color-gray);
}
.widget-cpu {
  background-color: var(--color-green);
  color: black;
}

/* Aria launcher */
/*Window.aria-launcher {
  background-color: var(--bg-color);
  box-shadow: inset 0 -3px rgba(100, 114, 125, 0.5);
}*/

/* Aria Terminal */
window.aria-terminal .aria-terminal {
  border-bottom: var(--normal-border);
}
